<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("partials/head") %>
</head>
<body>
  <a class="skip-link" href="#main">Skip to content</a>

  <%- include("partials/nav") %>

  <main id="main">
    <%- body %>
  </main>

  <%- include("partials/footer") %>
</body>
</html>